<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jiMuOperate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>537EBDD61CBF3FFA00E77CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>537EBDEF1CBF3FFB00E77CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>537EBDFA1CBF3FFB00E77CD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
